<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>

    <div class="jumbotron jumbotron-fluid d-none d-lg-block">
      <div class="container">
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand" href="">Washed Out</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active" id="album-link">
              <a class="nav-link" href="/albums">Albums <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

        <div class="container-album center shadow" id="one">
        <img src="/images/misc/pic1.jpg" class="rounded-circle mx-auto d-block circular mt-5 mb-3" alt="...">
        <h2>Washed Out</h2>
        <h5>
          Atlanta-based producer/songwriter/multi-instrumentalist Ernest Greene's project Washed Out blends the layered synths and quietly chiming guitars of dream pop, the hypnotic rhythms of bedroom electronica, and his gentle croon of a voice and adds them to songs that are as calm and comforting as a soft blanket.
        </h5>
        <h5>
        His first EP, 2009's Life of Leisure, helped define the chillwave genre, and his song "Feel It All Around" became a ubiquitous classic. Everything he released subsequently -- whether it's influenced by psychedelic pop (2003's Paracosm,) hip-hop (2017's Mister Mellow), or modern pop (2020's Purple Noon) -- builds on his initial style without changing the elemental laid-back tenets of the Washed Out sound.
        </h5>
        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:5juOkIIy18sFw9L30syt1Z&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        </div>


        
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
